@using X.PagedList
@using X.PagedList.Mvc.Core

@{
Layout = "~/Views/Shared/_LayoutProductPage.cshtml";
}

<div class="col-lg-9">
    <!-- Start Shop Product Sorting Section -->
    <div class="shop-sort-section">
        <div class="container">
            <div class="row">
                <!-- Start Sort Wrapper Box -->
                <div class="sort-box d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column"
                    data-aos="fade-up" data-aos-delay="0">
                    <!-- Start Sort tab Button -->
                    <div class="sort-tablist d-flex align-items-center">
                        <ul class="tablist nav sort-tab-btn">
                            <li><a class="nav-link active" data-bs-toggle="tab" href="#layout-3-grid"><img
                                        src="~/assets/images/icons/bkg_grid.png" alt=""></a></li>
                            <li><a class="nav-link" data-bs-toggle="tab" href="#layout-list"><img
                                        src="~/assets/images/icons/bkg_list.png" alt=""></a></li>
                        </ul>

                        <!-- Start Page Amount -->
                        <div class="page-amount ml-2">
                            <span>@Model.Count results</span>
                        </div> <!-- End Page Amount -->
                    </div> <!-- End Sort tab Button -->

                    <!-- Start Sort Select Option -->
                    <div class="sort-select-list d-flex align-items-center">
                        <label class="mr-2">Sort By:</label>
                        <form action="#">
                            <fieldset>
                                <select name="speed" id="speed" name="orderby" onchange="location.href='/Products/Index/@if(ViewBag.CategoryId != null && ViewBag.CategoryId > 0){
			<text>@ViewBag.CategoryId</text>
			}?order='+this.value;">
                                    <option>Sort by average rating</option>
                                    
                                    <option selected="selected" value="newness">Sort by newness</option>
                                    <option  value="price-asc">Sort by price: low to high</option>
                                    <option  value="price-desc">Sort by price: high to low</option>
                                    <option value="name-asc">Product Name: Z</option>
                                </select>
                            </fieldset>
                        </form>
                    </div> <!-- End Sort Select Option -->



                </div> <!-- Start Sort Wrapper Box -->
            </div>
        </div>
    </div> <!-- End Section Content -->

    <!-- Start Tab Wrapper -->
    <div class="sort-product-tab-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content tab-animate-zoom">
                        <!-- Start Grid View Product -->
                        <div class="tab-pane active show sort-layout-single" id="layout-3-grid">
                            <div class="row">
                                @foreach(var item in Model)
                                {
                                     <div class="col-xl-4 col-sm-6 col-12">
                                    <!-- Start Product Default Single Item -->
                                    <div class="product-default-single-item product-color--golden" data-aos="fade-up"
                                        data-aos-delay="0">
                                        <div class="image-box">
                                            <a href="/Products/Detail/@item.Id" class="image-link">
                                           
                                                    @{
                                                        var ListTextPhoto = item.Photo.Split(", ");
                                                        var TextPhoto  = ListTextPhoto[0];
                                                    }
                                                <img src="/Upload/Products/@TextPhoto" alt="@TextPhoto">
                                          
                                            </a>
                                            <div class="action-link">
                                                <div class="action-link-left">
                                                    <a href="/Cart/Add/@item.Id">Add to Cart</a>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title"><a href="/Products/Detail/@item.Id">@item.Name</a></h6>
                                                    <ul class="review-star">
                                                    
                                                    <li class="fill"><a href="/Products/Rating/@item.Id?star=1"><i class="ion-android-star"></i></a></li>
                                                   <li class="fill"><a href="/Products/Rating/@item.Id?star=2"><i class="ion-android-star"></i></a></li>
                                                    <li class="fill"><a href="/Products/Rating/@item.Id?star=3"><i class="ion-android-star"></i></a></li>
                                                     <li class="fill"><a href="/Products/Rating/@item.Id?star=4"><i class="ion-android-star"></i></a></li>
                                                     <li class="fill"><a href="/Products/Rating/@item.Id?star=5"><i class="ion-android-star"></i></a></li>
                                                  
                                                </ul>
                                            </div>
                                               <div class="content-right">
                                               @{
                                                    var PriceAfter = string.Format("{0:#,#.}",item.Price - (item.Price * item.Discount)/100);
                                                   
                                                    }
                                               <span class="price">@if (item.Discount > 0) {<del> @string.Format("{0:#,#.}",item.Price) </del>}  @PriceAfter </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Product Default Single Item -->
                                </div>
                           
                                }
                                 </div>
                        </div> <!-- End Grid View Product -->
                        <!-- Start List View Product -->
                        <div class="tab-pane sort-layout-single" id="layout-list">
                            <div class="row">
                                 @foreach(var item in Model)
                                {
                                     <div class="col-12">
                                    <!-- Start Product Defautlt Single -->
                                    <div class="product-list-single product-color--golden">
                                        <a href="/Products/Detail/@item.Id" class="product-list-img-link">
                                              @{
                                                        var ListTextPhotoListViews = item.Photo.Split(", ");
                                                        var TextPhotoListView  = ListTextPhotoListViews[0];
                                                    }
                                          
                                          
                                            <img class="img-fluid"
                                                src="/Upload/Products/@TextPhotoListView" alt="@TextPhotoListView">
                                         
                                        </a>
                                        <div class="product-list-content">
                                            <h5 class="product-list-link"><a  href="/Products/Detail/@item.Id" >@item.Name</a></h5>
                                          <ul class="review-star">
                                                    
                                                    <li class="fill"><a href="/Products/Rating/@item.Id?star=1"><i class="ion-android-star"></i></a></li>
                                                   <li class="fill"><a href="/Products/Rating/@item.Id?star=2"><i class="ion-android-star"></i></a></li>
                                                    <li class="fill"><a href="/Products/Rating/@item.Id?star=3"><i class="ion-android-star"></i></a></li>
                                                     <li class="fill"><a href="/Products/Rating/@item.Id?star=4"><i class="ion-android-star"></i></a></li>
                                                     <li class="fill"><a href="/Products/Rating/@item.Id?star=5"><i class="ion-android-star"></i></a></li>
                                                 
                                                </ul>
                                                    @{
                                                    var PriceAfter = string.Format("{0:#,#.}",item.Price - (item.Price * item.Discount)/100);
                                                   
                                                    }
                                               <span class="price">@if (item.Discount > 0) {<del> @string.Format("{0:#,#.}",item.Price) </del>}  @PriceAfter </span>
                                            <p>@Html.Raw(item.Description)</p>
                                            <div class="product-action-icon-link-list">
                                                <a href="/Cart/Add/@item.Id"   class="btn btn-lg btn-black-default-hover">Add to
                                                    cart</a>
                                            
                                            
                                           
                                            </div>
                                             
                                                        </div>
                                    </div> <!-- End Product Defautlt Single -->
                                </div>
                                }
                               
                               </div>
                        </div> <!-- End List View Product -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Tab Wrapper -->

<div class="page-pagination text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                         @Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { page = p }))
                    </div>
                    <style>
                    .page-pagination .pagination .active span {
        padding: 0 15px;
        line-height: 40px;
        height: 40px;
        display: block;
        border: 1px solid #d5d5d5;
     background: #b19361;
    color: #FFF;
        border-radius: 3px;
        font-weight: 500;
    }
    .pagination{
        display: block;
    }
                    </style>
</div>